# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
venv/
*.egg
*.log
*.sql
*.sqlite

# Node
node_modules/
package-lock.json

# Flask
flask_session/

# IDE - VS Code
.vscode/
*.code-workspace

# OS Files
.DS_Store
Thumbs.db
